.body{
    background: #24353f;
    font-family: 'Titillium Web', sans-serif;
   
}
.items{
        box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}
.form-control {
    background: #24353f;
   
}
label{
    color: #fff !important;
    
}
h1{
    color:  #17a2b8;;
}
/* الوضع العادي قبل الكتابة */
.form-control {
  background-color: #24353F; /* أزرق */
  color: #fff;
}

.form-control::placeholder {
  color: #e0e0e0; /* رمادي فاتح للـ placeholder */
}

/* عند الضغط أو الكتابة */
.form-control:focus {
  background-color: #fff !important;
  color: #000 !important;
  border-color: #0dcaf0;
  box-shadow: 0 0 0 0.25rem rgba(13, 202, 240, 0.25);
}

